*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mr5per{
    margin-right: 5%;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5%;
    
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
}
#header .nav{
    overflow: hidden;
    position: relative;
    background-color: white;
    
}
#header .nav .logo{
    float: left;
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
}
#header .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    font-size: 20px;  
}
#content{
    margin-top: 60px;
    height: 150vh;
    background-color:whitesmoke;
    margin-left:13%;
    margin-right: 13%;
}
.clock-part{
    display: flex;
    justify-content: center;
    position: relative;
    height: 145px;
    
  
}
/* clock part */
.clock{
    width: 200px;
    height: 200px;
    border: 5px solid white;
    background-color: #c6c9d7;
    border-radius: 50%;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .hand{
    width: 50%;
    height:4px;
    top:50%;
    position: absolute;
    background: rgb(255, 255, 255);
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
  .clock .hand:first-child {
    width: 35%;
    margin-left: 15%;
  }
  #hour{background: #534f4f;}
  #minute{background: #959595;}
  #second{background:red;}
 
  /* end clock part */
.close-icon{
    font-size: 20px;
    position: absolute;
    right: 7%;
    padding: 12px;
    display: none;
}
.close-icon:hover{
    opacity: 0.7;
    color: rgb(26 26 26 / 75%);
    transition: 0.3s;
    cursor: pointer;
    rotate: 720deg;
    scale: 1.3;
}
.sub-clock-icon{
    position: absolute;
    right: 47px;
    font-size: 20px;
    padding: 12px;
}
.sub-clock{
    position: absolute;
    left: 40%;
    color: #7489a1;
    font-size: 40px;
    padding: 10px;
    font-family: monospace;
    display: none; 
}
.sub-clock-icon:hover, .contact-icon:hover{
    scale: 1.2;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.2s;
} 
/* bubble in the <body> */
.bubble-part{
    overflow: hidden;
    padding: 0 8%;
    margin-top:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bubble{
    width: 100%;
}
.bubble-shaped{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    border-radius: 10%;
}
.bubble-img{
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    object-fit: contain;
    
}
.bubble-title{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.bubble-container{
    margin-top: 15px;
}
.bubble-img-container{
    width: 70px;
    height: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(236 240 241);
    margin-bottom: 10px;
}
.bubble-title-container{
    text-align: center;
}
.bubble-part .bubble a:hover div:nth-child(1){
    background-color: #ccc;
    scale: 1.02;
    
}
/* footer section */
#footer{
    background-color: black;
    color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    
}
.contact p{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.6;
    font-family: sans-serif;
}
.contact-icon {
    font-size: 30px;
    color: white;
    margin-right: 8px;
    margin-top: 8px;
}
/* responsive section */
/* 1001px above */
@media only screen and (min-width:62.5625em){
    .mr5per{
        width:14%;
        height: 150px;
    }
}
/* 700px to 1000px */
@media only screen and (min-width:43.75em) and (max-width:62.5em){
    .mr5per{
        width: 27%;
        height: 100%;
    }
}
/* 446px to 696px */
@media only screen and (min-width:27.875em) and (max-width:43.5em){
    .close-icon{
        right: 12%;
    }
    .mr5per{
        width: 44%;
        height: 100%;
    }
    
}
/* lower than 445px (ok)*/
@media only screen and (max-width:27.8125em){
    #content{
        height: 150vh;
    }
    .mr5per{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .logo{
        font-size: 15px;
    }
    .sub-clock-icon{
        display: none;
    }
    #nav i{
        font-size: 18px;
    }
    .bubble{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .bubble-shaped{
        width: 80px;
        height: 110px;
        background-color: #eee;
    }
    .bubble-title{
        display: none;
    }
    .clock {
    width: 110px;
    height: 110px;
    }
}
@media only screen and (max-width:260px) {
    .logo{
        display:none
    }

}
